body {
    /*background-image: url("background.jpg");*/
    font-family: "Montserrat", helvetica, sans-serif;
    padding: 60px 0 0;
    margin: 0;
    font-size: 18px;
    color: black;
    background-color: gray;
}

.js-hide{
  display: none;
}