* {
  box-sizing: border-box;
  margin: 50;
  padding: 50;
  border-radius: 80px;
}

body {
    font-family: "Montserrat", helvetica, sans-serif;
    padding: 60px 0 0;
    margin: 0;
    font-size: 18px;
    color: white;
    background: url('background.jpg');
    background-position: center center;
    background-size: cover;
    height:100em;
    background-repeat: no-repeat;
   
}

header {
  text-align: center;
}

.subtitle{
  background: none;
}

#startMe{
    margin: 0 auto;
    display: block;
}

fieldset {
  width:80%;
  padding: 35px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.4);
  
  
 
}

legend {
 
  padding: 8px;
  background-color: rgb(9, 102, 156);
  
}

#answerBox{
  text-align: center;
}

#answerRightPic {
  
  width: 29.5em;
  height: 18em;
  padding: 40px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.4);
  background-image: url('rightAnswer.jpg');
  background-size: 100%;
 
}

#answerWrongPic {
 
  width: 29.5em;
  height: 18em;
  padding: 40px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.4);
  background-image: url('wrongAnswer.jpg');
  background-size: 100%;
 
}

#next-question{
    margin: 0 auto;
    display: block;
    
}

#restartQuiz{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.secretMessage {
  text-align: center;
  margin: 0 auto;
  display: block;
}


@media only screen and (min-width: 7.4em) {
  fieldset {
      width: 13em;
    }

  }

@media only screen and (min-width: 41.5em) {
fieldset {
    width: 29.5em;
  }


}
@media only screen and (min-width: 550px) {
fieldset {
    width: 29.5em;
  
  }

}